body {
    background-color: #000000;
  }

/* Basic grid layout credit to w3schools*/
.item1 { grid-area: header;}
.item2 { grid-area: main; }
.item3 { grid-area: right; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main right right'
    'footer footer footer footer footer footer';
  grid-gap: 2px;
  background-color: #000000;
  padding: 2px;
  font-family: sans-serif;
}

.grid-container > div {
  background-color: rgb(124, 183, 250);
  text-align: left;
  padding: 20px ;
  font-size: 20px;
}

/* Grid layout for header and main credit to w3schools*/
.ghead { grid-area: header;}
.gmain { grid-area: main; }

.grid-containerspecial {
  display: grid;
  grid-template-areas:
    'header'
    'main';
  grid-gap: 2px;
  background-color: #000000;
  padding: 2px;
  font-family: sans-serif;
}

.grid-containerspecial > div {
  background-color: rgb(124, 183, 250);
  text-align: left;
  padding: 20px ;
  font-size: 20px;
}

/* Horizontal toolbar credit to w3schools*/
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* changes color of toolbar on hover*/
  li a:hover {
    background-color: rgb(114, 84, 0);
  }
  body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(114, 84, 0);
}

.container {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}